.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f6f6f6;
}

.header-img{
    height: 80px;
    width: 150px;
}

.header-icon{
    color: gray !important;
    padding: 20px;
}